<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <!-- default-init-method = "initDef" 
   default-destroy-method = "destroyDef" -->

   <bean id = "helloWorld" class = "xmlconfig.helloworld.HelloWorld">
      <property name = "message" value = "Hello World!" />
      <property name = "message2" value = "Hello Second World!" />
   </bean>
   <bean id = "helloWorldSingleton" class = "xmlconfig.helloworld.HelloWorld" scope="singleton"></bean>
   <bean id = "helloWorldPrototype" class = "xmlconfig.helloworld.HelloWorld" scope="prototype"></bean>
      <bean id = "helloWorldInitDestroy" class = "xmlconfig.helloworld.HelloWorld" init-method = "init" destroy-method = "destroy">
      <property name = "message" value = "Hello World!" />
   </bean>
      <bean id = "helloWorldIndia" class = "xmlconfig.helloworld.HelloWorldIndia" parent = "helloWorld">
      <property name = "message" value = "India World!" />
      <property name = "message3" value = "India Third World!" />
   </bean>
   
   <!-- Definition for textEditor bean -->
   <bean id = "textEditor" class = "xmlconfig.dependency.injection.TextEditor">
      <constructor-arg ref = "spellChecker"/>
      <property name = "commentChecker" ref = "commentChecker"/>
   </bean>
   
      <!-- commentChecker isim ile eslesti -->
   <bean id = "textEditorByName" class = "xmlconfig.dependency.injection.TextEditor" autowire = "byName">
   	  <constructor-arg ref = "spellChecker"/>
      <property name = "name" value = "Generic Text Editor" />
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id = "spellChecker" class = "xmlconfig.dependency.injection.SpellChecker"></bean>
   
      <!-- Definition for commentChecker bean -->
   <bean id = "commentChecker" class = "xmlconfig.dependency.injection.CommentChecker"></bean>
      <bean id = "commentCheckerByName" class = "xmlconfig.dependency.injection.CommentChecker"></bean>

</beans>